@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,600,300,700&subset=latin,cyrillic-ext,cyrillic);

body 		{background-color: #47B2DA; font-family: Arial}
footer	{background: url('../images/bgs/hill_mini.png') repeat-x bottom; min-height: 78px}
iframe  {border-radius: 6px}

/* Containers styles */
.dance_cat_gif          {float: right; height: 60px}
.row-vertical-margin    {margin-bottom: 10px;}
.login-form             { background-color: #fff }

.container [class^="col-"], .container[class*="col-"]{
  padding-right: 35px;
  padding-left: 10px;
}

#codocotologo         { padding: 0; margin-right: 20px }
#codocotologo img     { float: left; height: 50px}
#bg-content           { margin-top: 60px  }

  #region-content , #region-widgets           { margin-top: 7px; }
  #region-content .row { background-color: #fff; border-radius: 6px; padding: 5px; 0 0 0 1px rgba(0,0,0,0.05); box-shadow: 0 0 0 1px rgba(0,0,0,0.05); }

#service-auth { text-align: center }

#vk_groups { width: 100% }
  #vk_groups iframe { width: 100% !important }

/* Styles styles */
.line-text { white-space: nowrap; }
.width-100 { width: 100% }